div {
    display: block;
    border: 1px solid black;
    padding: 20px;
}

.container {
    display: grid;
    height: 200px;
    margin-top: 20px;
    grid-gap: 10px;

    /* ===
    * First grid layout
    * ===
    */
    /*justify-content: center;*/
    /*align-content: end;*/

    /* ===
    * Second grid layout
    * ===
    */
    /*justify-content: space-between;*/
    /*align-content: center;*/

    /* ===
    * Third grid layout
    * ===
    */
    justify-items: end;
    align-items: center;
    grid-template: 70px 70px / 25% 25% 25%;
}
